<section class="bg-slate-50">
  <h2 class="text-main-color text-2xl uppercase font-semibold">
    all products:
  </h2>
  <div>
    <label class="tab" for="search">Search</label>
    <input
      type="search"
      id="search"
      class="bg-gray-50 border border-gray-300 text-gray-900 drop-shadow-md text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color"
    />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempora
      asperiores nostrum laboriosam placeat corporis aliquid aperiam
      consequuntur laudantium. Accusantium optio aliquam provident. Odit
      voluptatibus tenetur eaque reiciendis ab cupiditate!
    </p>
  </div>
</section>
