.active-link {
  background-color: var(--main-color);
  color: white;
}
ul li a[routerLink] {
  border: 2px solid transparent;
  // border-radius: 0.125rem; /* 2px */
}
ul li:hover a[routerLink] {
  border: 2px solid var(--main-color);
}
ul li a.cart {
  border: none !important;
  border-bottom: 0px solid transparent !important;
}
ul li a.cart:hover {
  border-bottom-width: 2px !important;
  border-bottom-color: var(--main-color) !important;
}
.active-link-cart {
  color: var(--main-color);
  border-bottom-width: 2px !important;
  border-bottom-color: var(--main-color) !important;
}
