.active-link {
  background-color: var(--main-color);
  color: white;
}
ul li a[routerLink] {
  border: 2px solid transparent;
  // border-radius: 0.125rem; /* 2px */
}
ul li:hover a[routerLink] {
  border: 2px solid var(--main-color);
}
