<section class="w-11/12 mx-auto">
  <h4 class="text-xl font-bold mb-5 text-main-color">Forget Password</h4>
  @if (step === 1) {
  <form [formGroup]="getEmailForm" (ngSubmit)="subumitGetEmailForm()">
    <div class="mb-4">
      <label
        for="mail"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email:</label
      >
      <input
        formControlName="email"
        type="email"
        id="mail"
        class="bg-gray-50 border border-gray-300 text-gray-900 drop-shadow-md text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color"
      />
      @if(getEmailForm.get('email')?.errors &&
      getEmailForm.get('email')?.touched){
      <div
        class="flex items-center p-4 my-3 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          @if ( getEmailForm.get('email')?.getError('required')) {
          <span class="font-medium block">Email is Required!</span>
          }@else if (getEmailForm.get('email')?.getError('email')) {
          <span class="font-medium block">Email not Valid!</span>
          }
        </div>
      </div>
      }
      <div class="flex justify-between items-center content-center">
        @if (msgError) {
        <div
          class="flex items-center p-2 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium block">{{ msgError }}!</span>
          </div>
        </div>
        } @if (msgSuccess) {
        <div
          class="flex items-center p-2 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only"></span>
          <div>
            <span class="font-medium block">{{ msgSuccess }}</span>
          </div>
        </div>
        }
        <button
          [disabled]="getEmailForm.invalid"
          type="submit"
          class="btn-main capitalize mt-5 block ms-auto px-2 focus:ring-main-color focus:outline-main-color"
        >
          send code @if (isLoading) {
          <span> <i class="fas fa-spin fa-spinner"></i> </span>}
        </button>
      </div>
    </div>
  </form>
  }@else if (step === 2) {
  <form [formGroup]="verifyCode" (ngSubmit)="submitVerifyCode()">
    <div class="mb-4">
      <label
        for="resetCode"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Reset Code:</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-gray-50 border border-gray-300 text-gray-900 drop-shadow-md text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color"
      />
      @if(verifyCode.get('resetCode')?.errors &&
      verifyCode.get('resetCode')?.touched){
      <div
        class="flex items-center p-4 my-3 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          @if ( verifyCode.get('resetCode')?.getError('required')) {
          <span class="font-medium block">Code is Required!</span>
          }@else if (verifyCode.get('resetCode')?.getError('pattern')) {
          <span class="font-medium block">Code not Valid!</span>
          }
        </div>
      </div>

      }
      <div class="flex justify-between items-center content-center">
        @if (msgError) {
        <div
          class="flex items-center p-2 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium block">{{ msgError }}!</span>
          </div>
        </div>
        } @if (msgSuccess) {
        <div
          class="flex items-center p-2 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only"></span>
          <div>
            <span class="font-medium block">{{ msgSuccess }}</span>
          </div>
        </div>
        }
        <button
          [disabled]="verifyCode.invalid"
          type="submit"
          class="btn-main capitalize mt-5 block ms-auto px-2 focus:ring-main-color focus:outline-main-color"
        >
          send code @if (isLoading) {
          <span> <i class="fas fa-spin fa-spinner"></i> </span>}
        </button>
      </div>
    </div>
  </form>
  } @else if (step === 3) {
  <form [formGroup]="resetPassword" (ngSubmit)="submitSetNewPassword()">
    <div class="mb-4">
      <label
        for="mail"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email:</label
      >
      <input
        formControlName="email"
        type="email"
        readonly
        id="mail"
        class="bg-gray-50 border border-gray-300 text-gray-900 drop-shadow-md text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color"
      />
      @if(resetPassword.get('email')?.errors &&
      resetPassword.get('email')?.touched){
      <div
        class="flex items-center p-4 my-3 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          @if ( resetPassword.get('email')?.getError('required')) {
          <span class="font-medium block">Email is Required!</span>
          }@else if (resetPassword.get('email')?.getError('email')) {
          <span class="font-medium block">Email not Valid!</span>
          }
        </div>
      </div>

      }
    </div>
    <div class="mb-4">
      <label
        for="pass"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >New Password:</label
      >
      @let passwordConterol=resetPassword.get('newPassword');
      <input
        formControlName="newPassword"
        type="password"
        id="pass"
        class="bg-gray-50 border border-gray-300 text-gray-900 drop-shadow-md text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color"
      />
      @if (passwordConterol?.errors && passwordConterol?.touched) {
      <div
        class="flex items-center p-4 my-3 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          @if (passwordConterol?.getError('required')) {
          <span class="font-medium block">password is Required!</span>
          }@else if(passwordConterol?.getError('pattern')){
          <span class="font-medium block"
            >password should to be more than 7 characters!</span
          >
          }
        </div>
      </div>
      }
    </div>
    <div class="flex justify-between items-center content-center">
      @if (msgError) {
      <div
        class="flex items-center p-2 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium block">{{ msgError }}!</span>
        </div>
      </div>
      } @if (msgSuccess) {
      <div
        class="flex items-center p-2 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only"></span>
        <div>
          <span class="font-medium block">{{ msgSuccess }}</span>
        </div>
      </div>
      }
      <button
        [disabled]="resetPassword.invalid"
        type="submit"
        class="btn-main capitalize mt-5 block ms-auto px-2 focus:ring-main-color focus:outline-main-color"
      >
        reset password @if (isLoading) {
        <span> <i class="fas fa-spin fa-spinner"></i> </span>}
      </button>
    </div>
  </form>
  }
</section>
