<section class="w-11/12 mx-auto">
  <h4 class="text-xl font-bold mb-5 text-main-color">Forget Password</h4>
  <form [formGroup]="getEmailForm" (ngSubmit)="subumitGetEmailForm()">
    <div class="mb-4">
      <label
        for="mail"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email:</label
      >
      <input
        formControlName="email"
        type="email"
        id="mail"
        class="bg-gray-50 border border-gray-300 text-gray-900 drop-shadow-md text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color"
      />
      <button
        type="submit"
        class="btn-main capitalize mt-5 block ms-auto px-2 focus:ring-main-color focus:outline-main-color"
      >
        send code @if (isLoading) {
        <span> <i class="fas fa-spin fa-spinner"></i> </span>}
      </button>
    </div>
  </form>
</section>
<!-- @let emilControl=loginForm.get('email'); 

@if (emilControl?.touched&&emilControl?.errors) {
    <div
      class="flex items-center p-4 my-3 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div>
        @if (emilControl?.getError('required')) {
        <span class="font-medium block">Email is Required!</span>
        }@else if (emilControl?.getError('email')) {
        <span class="font-medium block">Email not Valid!</span>
        }
      </div>
    </div>
    }
-->
